<h1>ログイン</h1>
<%= form_with scope: :session, method: :post do |f| %>
  <%= f.text_field :email, placeholder: "メールアドレス" %>
  <%= f.password_field :password, placeholder: "パスワード" %>
  <%= f.submit "ログイン" %>
<% end %>