<div class="col-2 offset-1 border-right">
  <ul class="list-unstyled">
    <li>
      <%= link_to "ユーザー一覧", admin_users_path, class:"nav-link" %>
    </li>
    <hr>
    <li>
      <%= link_to "質問一覧", admin_posts_path, class:"nav-link" %>
    </li>
    <hr>
    <li>
      <%= link_to "コメント一覧", admin_comments_path, class: "nav-link" %>
    </li>
  </ul>
</div>